/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pythonProject.iml
/.idea/vcs.xml
/.idea/workspace.xml
/Files.rar
/file 1.txt
/file 2.txt
/file 3.txt
/file 4.txt
